/* Styling for the jumbotron */
.jumbotron {
    text-align: center;
    background-color: grey;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0;
}

/* Don't display the card until there is data */
#todays-weather {
    display: none;
}

/* Don't display the card until there is data */
#five-day-forecast {
    display: none;
}

/* Styling for the UVI value */
.uvi {
    padding: 2px;
}

/* coloring for favorable UV index */
.favorable-uvi {
    background-color: green;
    color: white;
  }
 
/* Coloring for moderate UV index */
.moderate-uvi {
    background-color: orange;
    color: white;
  }
  
/* Coloring for severe UV index */
.severe-uvi {
    background-color: red;
    color: white;
}